.course-page {
  padding: 40px 80px;
}

.course-page h1 {
  color: #4B0082;
  margin-bottom: 20px;
  text-align: center;
}

.course-page p {
  max-width: 600px;
  margin: 0 auto 30px auto;
  text-align: center;
  font-size: 18px;
  color: #333;
}

.conteudo {
  margin-top: 40px;
}

.conteudo ul {
  list-style: disc;
  padding-left: 40px;
  color: #333;
}
